---
import { Navigation } from "../components/navigation";
import { SiteTitle } from "../components/shared/site-title";
import "./layout.css";
import { BsArrowLeftSquareFill, BsArrowRightSquareFill } from "react-icons/bs";
const { back, next } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Portfolio</title>
  </head>
  <body>
    <SiteTitle/>
    <Navigation client:load/>
    <section class="all-pages">
      <slot />
    </section>
    <section class="controls">
      <button class="btn_controls next">
        <a href={back}>
          <BsArrowLeftSquareFill size={70} />
        </a>
      </button>
      <button class="btn_controls back">
        <a href={next}>
          <BsArrowRightSquareFill size={70} />
        </a>
      </button>
    </section>
  </body>
</html>
